In [1]:
#packages
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel('/content/drive/MyDrive/Penalty_stats_propre_19-20.xlsx')
df

,Id,Competition,Journee,Date,Home_team,Away_team,Team_taking_pen,Pen_taker,Minute,LtD_game-changing_pen,DtW_game-changing _pen,L_no_game-changing,W_no_game-changing,Scored,PT_sub,PT_position,Team_win,Last_Goal
0,1,Premier League,1,2019-08-10,West Ham,Manchester City,Away,Sergio Aguero,84.0,NO,NO,NO,YES,NO,YES,ST,YES,NO
1,2,Premier League,1,2019-08-10,West Ham,Manchester City,Away,Sergio Aguero,86.0,NO,NO,NO,YES,YES,YES,ST,YES,NO
2,3,Premier League,1,2019-08-11,Manchester United,Chelsea,Home,Marcus Rashford,18.0,NO,YES,NO,NO,YES,NO,W,YES,NO
3,4,Premier League,2,2019-08-17,Aston Villa,Bournemouth,Away,Joshua King,2.0,NO,YES,NO,NO,YES,NO,OM,YES,NO
4,5,Premier League,2,2019-08-19,Wolverhampton,Manchester United,Away,Paul Pogba,68.0,NO,YES,NO,NO,NO,NO,DM,NO,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,490,SERIE A,38,2021-08-01,Brescia,Sampdoria,Home,Ernesto Torregrosa,49.0,YES,NO,NO,NO,YES,NO,ST,NO,YES
490,491,SERIE A,38,2021-08-01,AC Milan,Cagliari,Home,Zlatan Ibrahimovic,44.0,NO,NO,NO,YES,NO,NO,ST,YES,NO
491,492,SERIE A,38,2021-08-01,Naples,Lazio,Home,Lorenzo Insigne,54.0,NO,YES,NO,NO,YES,NO,W,YES,NO
492,493,SERIE A,38,2021-08-01,Juventus,Roma,Away,Diego Perotti,44.0,NO,YES,NO,NO,YES,NO,W,YES,NO
493,494,SERIE A,38,2021-08-02,SPAL,Fiorentina,Away,Erick Pulgar,93.0,NO,NO,NO,YES,YES,NO,DM,YES,YES

In [3]:
alldata=pd.DataFrame()
alldata=df
print(alldata)

      Id     Competition Journee       Date          Home_team  \
0      1  Premier League       1 2019-08-10           West Ham
1      2  Premier League       1 2019-08-10           West Ham
2      3  Premier League       1 2019-08-11  Manchester United
3      4  Premier League       2 2019-08-17        Aston Villa
4      5  Premier League       2 2019-08-19      Wolverhampton
..   ...             ...     ...        ...                ...
489  490         SERIE A      38 2021-08-01            Brescia
490  491         SERIE A      38 2021-08-01           AC Milan
491  492         SERIE A      38 2021-08-01             Naples
492  493         SERIE A      38 2021-08-01           Juventus
493  494         SERIE A      38 2021-08-02               SPAL

             Away_team Team_taking_pen           Pen_taker  Minute  \
0      Manchester City            Away       Sergio Aguero    84.0
1      Manchester City            Away       Sergio Aguero    86.0
2              Chelsea            Home     Marcus Rashford    18.0
3          Bournemouth            Away         Joshua King     2.0
4    Manchester United            Away          Paul Pogba    68.0
..                 ...             ...                 ...     ...
489          Sampdoria            Home  Ernesto Torregrosa    49.0
490           Cagliari            Home  Zlatan Ibrahimovic    44.0
491              Lazio            Home     Lorenzo Insigne    54.0
492               Roma            Away       Diego Perotti    44.0
493         Fiorentina            Away        Erick Pulgar    93.0

    LtD_game-changing_pen DtW_game-changing _pen L_no_game-changing  \
0                      NO                     NO                 NO
1                      NO                     NO                 NO
2                      NO                    YES                 NO
3                      NO                    YES                 NO
4                      NO                    YES                 NO
..                    ...                    ...                ...
489                   YES                     NO                 NO
490                    NO                     NO                 NO
491                    NO                    YES                 NO
492                    NO                    YES                 NO
493                    NO                     NO                 NO

    W_no_game-changing Scored PT_sub PT_position Team_win Last_Goal
0                  YES     NO    YES          ST      YES        NO
1                  YES    YES    YES          ST      YES        NO
2                   NO    YES     NO           W      YES        NO
3                   NO    YES     NO          OM      YES        NO
4                   NO     NO     NO          DM       NO       YES
..                 ...    ...    ...         ...      ...       ...
489                 NO    YES     NO          ST       NO       YES
490                YES     NO     NO          ST      YES        NO
491                 NO    YES     NO           W      YES        NO
492                 NO    YES     NO           W      YES        NO
493                YES    YES     NO          DM      YES       YES

[494 rows x 18 columns]

In [4]:
#supprimer les cases vides
alldata.isnull().sum()
alldata=alldata.dropna(how='all')

In [5]:
alldata['Competition'].unique()

array(['Premier League', 'Ligue 1', 'Champions league', 'Bundesliga',
       'SERIE A'], dtype=object)

In [6]:
print(alldata.dtypes)

Id                                 int64
Competition                       object
Journee                           object
Date                      datetime64[ns]
Home_team                         object
Away_team                         object
Team_taking_pen                   object
Pen_taker                         object
Minute                           float64
LtD_game-changing_pen             object
DtW_game-changing _pen            object
L_no_game-changing                object
W_no_game-changing                object
Scored                            object
PT_sub                            object
PT_position                       object
Team_win                          object
Last_Goal                         object
dtype: object

In [7]:
#Regroupe deux colonnes en une Decisive

alldata.loc[alldata[('LtD_game-changing_pen')]=='YES', 'Decisive']='YES'
alldata.loc[alldata[('DtW_game-changing _pen') ]=='YES', 'Decisive']='YES'

alldata=alldata.drop(columns=['LtD_game-changing_pen','DtW_game-changing _pen','L_no_game-changing','W_no_game-changing'], axis=1)

In [8]:
print(alldata)

      Id     Competition Journee       Date          Home_team  \
0      1  Premier League       1 2019-08-10           West Ham
1      2  Premier League       1 2019-08-10           West Ham
2      3  Premier League       1 2019-08-11  Manchester United
3      4  Premier League       2 2019-08-17        Aston Villa
4      5  Premier League       2 2019-08-19      Wolverhampton
..   ...             ...     ...        ...                ...
489  490         SERIE A      38 2021-08-01            Brescia
490  491         SERIE A      38 2021-08-01           AC Milan
491  492         SERIE A      38 2021-08-01             Naples
492  493         SERIE A      38 2021-08-01           Juventus
493  494         SERIE A      38 2021-08-02               SPAL

             Away_team Team_taking_pen           Pen_taker  Minute Scored  \
0      Manchester City            Away       Sergio Aguero    84.0     NO
1      Manchester City            Away       Sergio Aguero    86.0    YES
2              Chelsea            Home     Marcus Rashford    18.0    YES
3          Bournemouth            Away         Joshua King     2.0    YES
4    Manchester United            Away          Paul Pogba    68.0     NO
..                 ...             ...                 ...     ...    ...
489          Sampdoria            Home  Ernesto Torregrosa    49.0    YES
490           Cagliari            Home  Zlatan Ibrahimovic    44.0     NO
491              Lazio            Home     Lorenzo Insigne    54.0    YES
492               Roma            Away       Diego Perotti    44.0    YES
493         Fiorentina            Away        Erick Pulgar    93.0    YES

    PT_sub PT_position Team_win Last_Goal Decisive
0      YES          ST      YES        NO      NaN
1      YES          ST      YES        NO      NaN
2       NO           W      YES        NO      YES
3       NO          OM      YES        NO      YES
4       NO          DM       NO       YES      YES
..     ...         ...      ...       ...      ...
489     NO          ST       NO       YES      YES
490     NO          ST      YES        NO      NaN
491     NO           W      YES        NO      YES
492     NO           W      YES        NO      YES
493     NO          DM      YES       YES      NaN

[494 rows x 15 columns]

#I Pression

In [9]:

#a) Buts à domicile et exterieur

HM=0
AM=0

nb_goal_home=0
nb_goal_away=0

for i in range(0,494):
  if alldata.iloc[i,6]=='Home':
    HM=HM+1
  if alldata.iloc[i,6]=='Away':
    AM=AM+1
  if alldata.iloc[i,9]=='YES'and alldata.iloc[i,6]=='Home':
    nb_goal_home=nb_goal_home+1

  if alldata.iloc[i,9]=='YES'and alldata.iloc[i,6]=='Away':
    nb_goal_away=nb_goal_away+1


PHM = (nb_goal_home /HM)*100
PAM = (nb_goal_away /AM)*100

print("Percentage of penalty scored in home team : %.2f"% PHM,"%","\n"
      "Percenetage of penalty scored in away team : %.2f"% PAM, "%")

Percentage of penalty scored in home team : 80.93 %
Percenetage of penalty scored in away team : 74.26 %

In [10]:
#b) Champions League

nb_goal_CL=0
nb_goal_CH=0

for i in range(0,186):
  if alldata.iloc[i,9]=='YES':
    nb_goal_CH=nb_goal_CH+1

for i in range(233,494):
  if alldata.iloc[i,9]=='YES':
    nb_goal_CH=nb_goal_CH+1

for i in range(187,232):
  if alldata.iloc[i,9]=='YES':
    nb_goal_CL=nb_goal_CL+1   

#Champion's league matchs
CLM=232-187
PCL=(nb_goal_CL/CLM)*100

CHM=494-CLM
PCH=(nb_goal_CH/CHM)*100

print("Penalty's percentage in Champion's league matchs : %.2f"% PCL,"%", "\n"
      "Penalty's percentage in Championship : %.2f"% PCH,"%" )

Penalty's percentage in Champion's league matchs : 77.78 %
Penalty's percentage in Championship : 77.28 %

In [11]:
print(alldata)

      Id     Competition Journee       Date          Home_team  \
0      1  Premier League       1 2019-08-10           West Ham
1      2  Premier League       1 2019-08-10           West Ham
2      3  Premier League       1 2019-08-11  Manchester United
3      4  Premier League       2 2019-08-17        Aston Villa
4      5  Premier League       2 2019-08-19      Wolverhampton
..   ...             ...     ...        ...                ...
489  490         SERIE A      38 2021-08-01            Brescia
490  491         SERIE A      38 2021-08-01           AC Milan
491  492         SERIE A      38 2021-08-01             Naples
492  493         SERIE A      38 2021-08-01           Juventus
493  494         SERIE A      38 2021-08-02               SPAL

             Away_team Team_taking_pen           Pen_taker  Minute Scored  \
0      Manchester City            Away       Sergio Aguero    84.0     NO
1      Manchester City            Away       Sergio Aguero    86.0    YES
2              Chelsea            Home     Marcus Rashford    18.0    YES
3          Bournemouth            Away         Joshua King     2.0    YES
4    Manchester United            Away          Paul Pogba    68.0     NO
..                 ...             ...                 ...     ...    ...
489          Sampdoria            Home  Ernesto Torregrosa    49.0    YES
490           Cagliari            Home  Zlatan Ibrahimovic    44.0     NO
491              Lazio            Home     Lorenzo Insigne    54.0    YES
492               Roma            Away       Diego Perotti    44.0    YES
493         Fiorentina            Away        Erick Pulgar    93.0    YES

    PT_sub PT_position Team_win Last_Goal Decisive
0      YES          ST      YES        NO      NaN
1      YES          ST      YES        NO      NaN
2       NO           W      YES        NO      YES
3       NO          OM      YES        NO      YES
4       NO          DM       NO       YES      YES
..     ...         ...      ...       ...      ...
489     NO          ST       NO       YES      YES
490     NO          ST      YES        NO      NaN
491     NO           W      YES        NO      YES
492     NO           W      YES        NO      YES
493     NO          DM      YES       YES      NaN

[494 rows x 15 columns]

In [12]:
#c) Pression max 

goal_max_pression=0
goalscored=0
MMP=0

for i in range (0, 494):
  if alldata.iloc[i,14] =='YES':
    alldata.loc[alldata['Minute']>79, 'Cluctch']='YES'
    MMP=MMP+1
#  else:
 #   alldata.loc['Cluctch']='NO'

for i in range (0, 494):
  if alldata.iloc[i,15] =='YES'and alldata.iloc[i,9]=='YES':
    goal_max_pression=goal_max_pression+1

for i in range (0, 494):
  if alldata.iloc[i,9] =='YES':
    goalscored=goalscored+1

PG=(goalscored/495)*100
PMP=(goal_max_pression/90)*100

print(goalscored,goal_max_pression, MMP)
print("Total Penalty's percentage : %.2f"% PG,"%", "\n"
      "Max pression penalty's percentage : %.2f"% PMP,"%")

384 69 314
Total Penalty's percentage : 77.58 %
Max pression penalty's percentage : 76.67 %

In [13]:
alldata['Cluctch'].describe()

count      90
unique      1
top       YES
freq       90
Name: Cluctch, dtype: object

In [14]:
print(alldata)

      Id     Competition Journee       Date          Home_team  \
0      1  Premier League       1 2019-08-10           West Ham
1      2  Premier League       1 2019-08-10           West Ham
2      3  Premier League       1 2019-08-11  Manchester United
3      4  Premier League       2 2019-08-17        Aston Villa
4      5  Premier League       2 2019-08-19      Wolverhampton
..   ...             ...     ...        ...                ...
489  490         SERIE A      38 2021-08-01            Brescia
490  491         SERIE A      38 2021-08-01           AC Milan
491  492         SERIE A      38 2021-08-01             Naples
492  493         SERIE A      38 2021-08-01           Juventus
493  494         SERIE A      38 2021-08-02               SPAL

             Away_team Team_taking_pen           Pen_taker  Minute Scored  \
0      Manchester City            Away       Sergio Aguero    84.0     NO
1      Manchester City            Away       Sergio Aguero    86.0    YES
2              Chelsea            Home     Marcus Rashford    18.0    YES
3          Bournemouth            Away         Joshua King     2.0    YES
4    Manchester United            Away          Paul Pogba    68.0     NO
..                 ...             ...                 ...     ...    ...
489          Sampdoria            Home  Ernesto Torregrosa    49.0    YES
490           Cagliari            Home  Zlatan Ibrahimovic    44.0     NO
491              Lazio            Home     Lorenzo Insigne    54.0    YES
492               Roma            Away       Diego Perotti    44.0    YES
493         Fiorentina            Away        Erick Pulgar    93.0    YES

    PT_sub PT_position Team_win Last_Goal Decisive Cluctch
0      YES          ST      YES        NO      NaN     YES
1      YES          ST      YES        NO      NaN     YES
2       NO           W      YES        NO      YES     NaN
3       NO          OM      YES        NO      YES     NaN
4       NO          DM       NO       YES      YES     NaN
..     ...         ...      ...       ...      ...     ...
489     NO          ST       NO       YES      YES     NaN
490     NO          ST      YES        NO      NaN     NaN
491     NO           W      YES        NO      YES     NaN
492     NO           W      YES        NO      YES     NaN
493     NO          DM      YES       YES      NaN     YES

[494 rows x 16 columns]

In [15]:
alldata['Pen_taker'].value_counts()

Ciro Immobile        15
Cristiano Ronaldo    14
Marco Mancosu        11
Domenico Criscito    10
Marcus Rashford       8
                     ..
Ross Barkley          1
Mathieu Valbuena      1
Mislav Orsic          1
Mbaye Diagne          1
Amadou Diawara        1
Name: Pen_taker, Length: 217, dtype: int64

In [16]:
alldata['PT_sub'].value_counts()

NO     461
YES     33
Name: PT_sub, dtype: int64

In [17]:
goal_nosub=0

goal_sub=0

for i in range (0, 494):
  if alldata.iloc[i,10] =='YES':
    if alldata.iloc[i,9] =='YES':
      goal_sub=goal_sub+1

for i in range (0, 494):
  if alldata.iloc[i,10] =='NO':
    if alldata.iloc[i,9] =='YES':
      goal_nosub=goal_nosub+1      

PCGS=goal_sub/33


PCGNS=goal_nosub/461
print(PCGS,PCGNS)

0.7575757575757576 0.7787418655097614

In [18]:
#alldata.to_excel('Penaltyapres.xlsx')

In [21]:
alldata.head()

,Id,Competition,Journee,Date,Home_team,Away_team,Team_taking_pen,Pen_taker,Minute,Scored,PT_sub,PT_position,Team_win,Last_Goal,Decisive,Cluctch
0,1,Premier League,1,2019-08-10,West Ham,Manchester City,Away,Sergio Aguero,84.0,NO,YES,ST,YES,NO,NaN,YES
1,2,Premier League,1,2019-08-10,West Ham,Manchester City,Away,Sergio Aguero,86.0,YES,YES,ST,YES,NO,NaN,YES
2,3,Premier League,1,2019-08-11,Manchester United,Chelsea,Home,Marcus Rashford,18.0,YES,NO,W,YES,NO,YES,NaN
3,4,Premier League,2,2019-08-17,Aston Villa,Bournemouth,Away,Joshua King,2.0,YES,NO,OM,YES,NO,YES,NaN
4,5,Premier League,2,2019-08-19,Wolverhampton,Manchester United,Away,Paul Pogba,68.0,NO,NO,DM,NO,YES,YES,NaN